.mb__mi {
    .mb__mi-content {
        .mb__mi-content__container {
            .mb__mi-content__container--title {
                font-weight: 600;
                font-size: 25px;
                position: relative;
                margin-bottom: 20px;
                &:after {
                    content: "";
                    display: block;
                    width: 150px;
                    height: 4px;
                    margin-top: 5px;
                    background: #d39e3b;
                }
            }
            .mb__mi-content__container-desc {
                margin-bottom: 20px;
                .mb__mi-content__container-desc__item {
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                    display: flex;
                    .mb__mi-content__container-desc__item__icon {
                        background: rgb(45, 7, 77);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 25px;
                        width: 30px;
                        i {
                            font-size: 12px;
                            color: white;
                        }
                    }
                    .mb__mi-content__container-desc__item--desc {
                        margin-left: 10px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}