.mb__testimoni,
.mb__testimoni--word {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mb__testimoni {
    text-align: center;
    flex-direction: column;
    .fa-quote-right {
        color: #643D72;
        font-size: 13px;
    }
    .mb__testimoni--word {
        font-size: 15px;
        height: 160px;
    }
    .mb__testimoni-cover {
        margin-top: 10px;
        height: 50px;
        width: 50px;
        overflow: hidden;
        border-radius: 50%;
        img {
            height: 100%;
        }
    }
    .mb__testimoni--name {
        margin-top: 5px;
        font-size: 14px;
        font-weight: 600;
        font-style: italic;
        color: #d39e3b;
    }
}