.mb__educations {
    background: rgb(238, 238, 238);
    .mb__educations--title {
        color: #643D72;
        text-align: center;
    }
    .mb__educations-items {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .mb__educations {
        .mb__educations-items {
            margin-top: 25px;
        }
    }
}

@media screen and (max-width: 550px) {
    .mb__educations {
        .mb__educations-items {
            display: block;
        }
    }
}