.mb__navbar {
    box-shadow: 0px 10px 10px -15px #111;
    .mb__navbar-contacts,
    .mb__navbar-contact,
    .contact--icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mb__navbar-contacts {
        height: 40px;
        background: rgb(45, 7, 77);
        .mb__navbar-contact {
            color: white;
            margin: 0 10px;
            .contact--icon {
                font-size: 13px;
                background: #f7e6c66e;
                height: 23px;
                width: 23px;
                border-radius: 50%;
            }
            p {
                font-size: 11px;
                margin-left: 3px;
            }
        }
    }
    .mb__navbar-main,
    .mb__navbar-main__item {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .mb__navbar-main {
        height: 90px;
        position: relative;
        .mb__navbar-main__item {
            .mb__navbar-main__item--nav, p {
                text-decoration: none;
                font-size: 16px;
                margin: 0 10px;
                font-weight: 400;
                cursor: pointer;
                color: rgb(45, 7, 77);
                border-bottom: 2px solid white;
                transition: .3s;
                font-weight: 450;
                &:hover {
                    color: #d39e3b;
                    border-bottom: 2px solid #d39e3b;
                }
            }
            .active-link {
                color: #d39e3b;
                border-bottom: 2px solid #d39e3b;
            }
            &.item--left {
                padding-right: 90px;
                flex: 1;
                justify-content: flex-end;
                margin-left: 0;
            }
            &.item--right {
                flex: 1;
                padding-left: 90px;
                justify-content: flex-start;
                margin-left: 0;
            }
            &.item--middle {
                position: absolute;
                align-items: flex-start;
                top: 10px;
                i {
                    display: none;
                }
                .item--logo {
                    z-index: 9999;
                    height: 120px;
                    width: 120px;
                    box-shadow: rgba(17, 17, 17, 0.255) 0px 2px 8px 0px;
                    border-radius: 50%;
                    overflow: hidden;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
        .mb__navbar-main__slide {
            display: none;
        }
    }
}

@media screen and (max-width: 1024px) {
    .mb__navbar {
        .mb__navbar-contacts {
            .mb__navbar-contact {
                margin: 0 5px;
                p {
                    display: none;
                }
            }
        }
        .mb__navbar-main {
            height: 60px;
            .mb__navbar-main__item {
                .mb__navbar-main__item--nav, p {
                    font-size: 14px;
                }
                &.item--left {
                    padding-right: 50px;
                }
                &.item--right {
                    padding-left: 50px;
                }
                &.item--middle {
                    top: 5px;
                    .item--logo {
                        height: 80px;
                        width: 80px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .mb__navbar {
        .mb__navbar-main {
            height: 80px;
            .mb__navbar-main__item {
                &.item--left,
                &.item--right,
                &.item--middle {
                    display: none;
                }
            }
            .mb__navbar-main__slide {
                display: block;
                width: 100%;
                height: 100%;
                .mb__navbar-main__slide-head {
                    position: relative;
                    display: flex;
                    height: 100%;
                    justify-content: flex-start;
                    align-items: center;
                    i {
                        margin-left: 50px;
                        font-size: 20px;
                        z-index: 999;
                    }
                    .mb__navbar-main__item {
                        position: absolute;
                        left: 0;
                        right: 0;
                        .item--logo {
                            width: 70px;
                            height: 70px;
                            border-radius: 50%;
                            overflow: hidden;
                        }
                    }
                }
                .mb__navbar-main__slide-content {
                    z-index: 999;
                    margin-left: -1500px;
                    position: absolute;
                    transition: .5s ease-out;
                    width: 100%;
                    background: rgb(45, 7, 77);
                    color: white;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    .mb__navbar-main__item--nav {
                        text-decoration: none;
                        font-size: 13px;
                        padding: 5px 0;
                        padding-left: 20px;
                        font-weight: 400;
                        width: 100%;
                        color: white;
                        border-bottom: 1px solid white;
                        transition: .3s;
                        font-weight: 450;
                        &:hover {
                            color: #d39e3b;
                            border-bottom: 2px solid #d39e3b;
                        }
                    }
                }
            }
        }
    }
}